body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

main {

}

footer {
    background-color: black;
}

#banner {
    background-image: url('./images/japan_banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 46em;
}

#bannerTitleWrapper {
    width: 50%;
    padding-top: 23em;
    margin: auto;
    color: white;
    text-align: center;
    text-shadow: 0.1em 0.1em 0 black;
}

#titleHighlighter {
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 1em;
}

#bannerTitleWrapper h1, h3 {
    margin: 0;
    padding: 0;
}

#navBar {
    background-color: black;
    padding: 1em 0 1em 0;
    text-align: center;
}

#navBar a {
    color: lightgray;
    padding: 0 0.4em 0 0.4em;
    text-decoration: none;
}

#navBar a:hover, a:active {
    color: white;
}

#mainText {
    text-align: center;
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: white;
}

#heuresDiv ul {
    padding: 0;
}

#heuresDiv ul li {
    display: block;
}

#footerText {
    padding: 1em 0em 1em 0em;
    text-align: center;
    color: white;
}