/* Etudiants: Alexandre Julien 1012389 & Sam Chandavong 1004915 */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

main {
    background-image: url('./images/natural_brown_wood.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

#banner {
    background-image: url('./images/japan_banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 40em;
}

#bannerTitleWrapper {
    width: 50%;
    padding-top: 20em;
    margin: auto;
    text-align: center;
    text-shadow: 0.1em 0.1em 0 black;
}

#titleHighlighter {
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 1em;
}

#bannerTitleWrapper h1, h3 {
    margin: 0;
    padding: 0;
}

#navBar {
    background-color: black;
    padding: 1em 0 1em 0;
    text-align: center;
}

#navBar a {
    color: lightgray;
    padding: 0 0.4em 0 0.4em;
    text-decoration: none;
}

#navBar a:hover {
    color: white;
}

.mainText {
    text-align: center;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 1em;
    overflow: auto;
}

#mainTextPropos p {
    text-align: left;
}

.columnLeft {
    float: left;
    width: 33%;
}

.columnRight {
    float: right;
    width: 33%;
}

.columnCenter {
    display: inline-block;
    width: 33%;
}

#galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    padding: 1em;
}

.gallery {
    margin: 0.1em;
    border: 2px solid #ccc;
    background-color: white;
    color: black;
    float: left;
    overflow: hidden;
    width: 32.8%;
}

.gallery img {
    height: 8em;
}

#takoyaki, #porkRamen {
    transform: rotate(180deg);
}

#footerText {
    padding: 1em 0em 1em 0em;
    text-align: center;
}

.desc {
    padding: 1em;
}

* {
    box-sizing: border-box;
}